.phone_bar{
	background-color:#1c5ba8;
	color:#ffffff;
	padding:5px;
	text-align:right;		
}

.navbar{
	font-size:1.4em;
	padding-top:10px;
	color:#000000;
}

.slideshow{
	
	background-color:#3074ba;
	background-image: radial-gradient(ellipse farthest-corner at center top , #3074BA 50%, #A3D0EC 100%);	
	clear:both;
}

.get_quote{
	font-size:1.2em;
	font-weight:bold;
	font-style:italic;
	margin:10px 0 10px 50px;;
	color:#ffffff;
	background-color:#dd0000;
}

.get_quote:hover{
	background-color:#660000;
	color:#ffffff;
}

.offer{
	color:#1c5ba8;
	font-weight:bold;
	font-style:italic;
	text-align:right;
	padding-right:110px;	
}

.featured{
	margin-bottom:25px;
	border:2px solid #ffffff;
	border-top:none;
	border-radius:0 0 20px 20px; 
	box-shadow:3px 3px 3px #000000;

}

.img-rounded-bottom{
	border-radius:0 0 20px 20px; 
}

.navbar{
	margin-bottom:0;
	padding-top:7px;
}

#offer-contact{
	color:#1c5ba8;
	font-style:italic;
	font-weight:bold;
}

.btn-lg{
	margin:10px 0;
	font-style:italic;
	font-weight:bold;
	text-shadow:2px 2px 2px #000000;
}

hr{
	margin:5px 0;
}

.mybreadcrumb a{
	background-color:none;	
	color:#ffffff;
	
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	#offer-contact{font-size:1.5em; text-align:center;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	h1{font-size:0.5em; text-align:center;}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}